{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/list.css' %}">
    <title>Inside Creative Minds - Stories</title>
</head>
<body>
    <header>
        <div class="title">Inside Creative Minds</div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'books' %}">Books</a></li>
                <li><a href="{% url 'poems' %}">Poems</a></li>
                <li><a href="{% url 'stories' %}">Stories</a></li>
                <li><a href="{% url 'articles' %}">Articles</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="read-button">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="read-button">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="fill">
            {% for story in story_list %}
            <div class="book-info">
                <div class="image-container">
                    <img src="{{ story.cover.url }}" alt="Story Cover">
                </div>
                <div class="book-details">
                    <h2>{{ story.title }}</h2>
                    <h3>By {{ story.author }}</h3>
                    <p>{{ story.content }}</p>
                </div>
                <div class="box">
                    <a href="{% url 'story_detail' story_id=story.story_id %}" class="lbox">
                        <button>Review</button>
                    </a>
                    <a href="{{ story.link }}" class="rbox">
                        <button>Read</button>
                    </a>
                </div>                
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
